<h2>{{data}}</h2>


<div class="container w-25 p-5 border border-secondary rounded bg-light mt-5">
    <form [formGroup]="loginForm" action="" (ngSubmit)="login()">
        <input formControlName="acno" type="text" [placeholder]="inputplaceholder" class="form-control mb-4" id="acid" name="acnum1">
        <p *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched" class="text-danger">invalid acno</p>

        <input formControlName="psw" type="password" placeholder="password" class="form-control mb-4" id="psw1" name="paswrd1">
        <p *ngIf="this.loginForm.get('psw')?.errors && this.loginForm.get('psw')?.touched" class="text-danger">invalid password</p>

        <button class="btn btn-primary text-center mb-4" type="submit" >Login</button>
    </form>
    <div class="text-center">Not registred? <a routerLink="register">Register</a> </div>
</div>
