
<div>
    <h2 class="text-danger">{{date | date:'short'}}</h2>
</div>
<h1>Welcome <span>{{user}}</span> </h1>
<app-deleteconfirm (cancel)="cancel()" [item]="acno"></app-deleteconfirm>

<div  [ngClass]="acno?'style':''" class="container row text-center p-5 w-100">
    
   <div class="container row p-4">
        <div class="container col-lg-6 col-md-12 w-50 border boder-dark text-center bg-light p-4 rounded">
            <h1>Deposit</h1>
            <form action="" [formGroup]="depositForm" (ngSubmit)="deposit()">
                <input formControlName="acnum1" type="text" class="form-control mb-3 p-2" placeholder="Account Number" id="acnm1" name="accn1">
                <input formControlName="pass1" type="password" class="form-control mb-3 p-2" placeholder="Password" id="pas1" name="psw1">
                <input formControlName="amnt1" type="text" class="form-control mb-3 p-2" placeholder="Amount" id="ant1" name="amn1">
                <button type="submit" class="btn btn-outline-primary">Deposit</button>
            
            </form ></div>
    
        <div class="container col-lg-6 col-md-12 w-50 border boder-dark text-center bg-light p-4 rounded">
            <h1>Withdraw</h1>
            <form action="" [formGroup]="withdrawForm" (ngSubmit)="withdraw()" >
                <input formControlName="acnum2" type="text" class="form-control mb-3 p-2" placeholder="Account Number" id="acnm2" name="accn2">
                <input formControlName="pass2" type="password" class="form-control mb-3 p-2" placeholder="Password" id="pas2" name="psw2">
                <input formControlName="amnt2" type="text" class="form-control mb-3 p-2" placeholder="Amount" id="ant2" name="amn2">
                <button type="submit"  class="btn btn-outline-primary">Withdraw</button>
            
            </form></div>
   </div >
    <button type="button" class="btn btn-secondary mt-4"><a style="text-decoration: none; color: #000;" routerLink="/transaction">Show Transaction</a></button>
    <button type="button" class="btn btn-warning mt-4"><a style="text-decoration: none; color: #000;" (click)="logout()" >Logout</a></button>
    <button type="button" class="btn btn-danger mt-4"><a style="text-decoration: none; color: #000;" (click)="deleteParent()" >Delete</a></button>

</div>