<div class="container w-25 p-5 border border-secondary rounded bg-light mt-5 text-center">
   <h1>Register</h1>
    <form action="">
        <input  type="text" placeholder="Account Number" class="form-control mb-4" id="unamid" name="usern1">

        <input  type="text" placeholder="Username" class="form-control mb-4" id="acid" name="acnum1">
        <input  type="password" placeholder="password" class="form-control mb-4" id="psw1" name="paswrd1">

        <button class="btn btn-outline-warning text-center" type="button" (click)="register()" >Register</button>
    </form>
</div>
